@font-face {
    font-family: SilkScreen;
    src: url(fonts/silkscreen-regular.ttf);
}

@font-face {
    font-family: SilkScreen-Bold;
    src: url(fonts/silkscreen-bold.ttf);
} 

html {
    background-color: rgb(17, 17, 17);
    padding: 5px;
    margin: 10px
}

::selection {
    color: rgb(17, 17, 17);
    background-color: rgb(99, 90, 149);
}

button {
    width: auto;
    font-size: 17px;
    font-family: SilkScreen-Bold;
    border-width: 4px;
    border-color: rgb(149, 135, 230);
    background-color: rgb(149, 135, 230);
    color: black
}
button:hover {
    background-color: rgb(17, 17, 17);
    color:rgb(149, 135, 230);
}
button:active {
    border-color: white;
}
button::selection {
    color: rgb(149, 135, 230);
}

.header-title {
    font-size: 190%;
    font-family: SilkScreen-Bold;
    color: white;
}
.header-description {
    font-family: SilkScreen-Bold;
    color: white;
}

.secret-text {
    font-family: SilkScreen-Bold;
    color: rgb(17, 17, 17);
}
.secret-text::selection {
    color: rgb(149, 90, 90);
}

.buttons-info {
    width: 19%;
    font-family: SilkScreen-Bold;
    color: white;
}