@font-face {
    font-family: SilkScreen;
    src: url(silkscreen-regular.ttf);
}

@font-face {
    font-family: SilkScreen-Bold;
    src: url(silkscreen-bold.ttf);
} 

html {
    background-color: black;
    padding: 5px;
    margin: 2px;
}

button {
    font-size: 17px;
    font-family: SilkScreen-Bold;
    border-width: 4px;
    border-color: rgb(149, 135, 230);
    background-color: rgb(149, 135, 230);
    color: black
}
button:hover {
    background-color: black;
    color:rgb(149, 135, 230);
}

button::selection {
    color: white;
}

button:active {
    border-color: white;
}

.text-test {
    font-family: SilkScreen-Bold;
    color: white;
}