@font-face {
    font-family: SilkScreen;
    src: url(silkscreen-regular.ttf);
}

@font-face {
    font-family: SilkScreen-Bold;
    src: url(silkscreen-bold.ttf);
} 

body {
    background-color: black;
    padding: 5px;
    margin: 2px;
}

.text-test {
    font-family: SilkScreen-Bold;
    color: white;
}
