@font-face {
    font-family: SilkScreen;
    src: url(silkscreen-regular.ttf);
}

@font-face {
    font-family: SilkScreen-Bold;
    src: url(silkscreen-bold.ttf);
} 

.bg {
    background-color: black;
}

.test {
    color: white;
}
